.controlRoot {
  --control-margin-top: 10px;
}

.controlTitle {
  font-size: 16px;
}

.controlSlider {
  margin-top: var(--control-margin-top);
  font-size: 14px;
}

.sliderContainer {
  margin-top: 10px;
}

.controlCheckbox {
  margin-top: var(--control-margin-top);
  cursor: pointer;
  font-size: 14px;
}

.legendCheckbox {
  cursor: inherit;
}

.legendLabel {
  margin-left: 5px;
  user-select: none;
}
