.sideMenuRoot {
  --menu-burger-height: 50px;
}

.sideMenuBackground {
  background: #fff0;
}

.sideMenu {
  composes: sideMenuBackground;
  height: 100vh;
  width: 0px;
  z-index: 9999;
  position: relative;
  transition: width 0.2s;
}

.sideMenuOpened {
  composes: sideMenu;
  width: 300px;
}

.menuBurgerContainer {
  composes: sideMenuBackground;
  z-index: 9999;
  position: absolute;
  top: 0;
  right: -50px;
  height: var(--menu-burger-height);
  width: 50px;
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s;
}

.menuBurgerContainerOpened {
  composes: menuBurgerContainer;
  top: 10px;
  right: 0;
  width: 100%;
  background: #fff0;
}

.menuContentContainer {
  /* border: solid 1px red; */
  overflow: hidden;
}

.menuContentInner {
  /* border: solid 1px green; */
  margin-top: calc(var(--menu-burger-height) + 20px);
  padding: 20px 25px;
}

.menuControlContainer {
  padding: 20px;
  background: #fffb;
  border-radius: 8px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.controlSlider {
  margin-top: 15px;
}

.sliderContainer {
  margin-top: 10px;
}

.slider {
  margin: 0px 17px;
}
