@import "./SideMenuRoot.css";

.sideMenuBackground {
  background: #fff0;
}

.sideMenu {
  composes: sideMenuBackground;
  height: 100vh;
  /* width: 0px; */
  z-index: 9999;
  /* position: relative; */
  position: absolute;
  transition: all 0.2s;
  width: var(--side-menu-width);
  /* max-width: 66%; */
  left: calc(-1 * var(--side-menu-width));
}

.sideMenuOpened {
  composes: sideMenu;
  left: 0;
}

.menuBurgerContainer {
  composes: sideMenuBackground;
  z-index: 9999;
  position: absolute;
  top: 0;
  right: calc(-1 * var(--menu-burger-size));
  height: var(--menu-burger-size);
  width: var(--menu-burger-size);
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s;
  pointer-events: none;
}

.menuBurgerContainerOpened {
  composes: menuBurgerContainer;
  top: 10px;
  right: 0;
  width: 100%;
  background: #fff0;
}

.menuContentContainer {
  overflow: hidden;
}

.menuContentInner {
  margin-top: var(--menu-burger-size);
  margin-bottom: 20px;
  padding: 15px 10px;
}

.menuControlContainer {
  padding: 10px 15px;
  background: #fffb;
  border-radius: 8px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19) !important;
  pointer-events: all;
}
