* {
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  box-sizing: border-box;
  background-color: unset;
  border-width: 0;
  border-color: unset;
  border-image: unset;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html .leaflet-popup-content p {
  /* margin: unset; */
  margin: 4px 0px;

  /* margin: 1.3em 0; */
}
