.legendContainer {
  z-index: 700;
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.legend {
  padding: 6px 8px;
  /* background: white; */
  background: #fffb;
  line-height: 24px;
  border-radius: 8px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  max-width: 180px;
}

.legendItems {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.legendItem {
  min-height: 23px;
  display: flex;
  align-items: center;
}

.legendTitle {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
}

.legendSquare {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legendLabel {
  /* position: relative;
  bottom: 3px; */
}

.buttonRegenerateContainer {
  pointer-events: all;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.buttonRegenerate {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 8px;
  cursor: pointer;
}
